PORT=3001
MONGODB_URI=

# you can use the following command to generate a random secret
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET='153c22be15ba4d1324df5a5e816022a806f008650da3e931c754e64b19741f2d'